div {
  position: absolute;
  width: 680px;
  margin-top: 222px;
  margin-left: 400px;
  margin-bottom: 100;
  line-height: 1.75;
  font-family: arial, x-locale-body, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: zillaslab, palatino, 'Palatino Linotype', serif;
  margin-top: 1px;
  margin-bottom: 1px;
}
h2 {
  font-size: 40px;
  font-family: zillaslab, palatino, 'Palatino Linotype', serif;
  margin-top: 1px;
  margin-bottom: 1px;
}
p {
  margin-bottom: -1px;
}
a {
  text-decoration: none;
}
